

<div class="example-container">
  <h2 class="register-header">Register</h2>

  <form [formGroup]="createRegisterForm" class="example-container" (ngSubmit)="register()">
  <mat-form-field class="other-fields">
      <mat-label>Enter your name</mat-label>
      <input matInput name="name" placeholder="First Name" formControlName="name"   required>
      <!-- <mat-error *ngIf="createRegisterForm.get('name')?.hasError('required')">Name is required</mat-error> -->

    </mat-form-field>

    <mat-form-field class="other-fields">
      <mat-label>Enter your surname</mat-label>
      <input matInput name="surname" placeholder="Last Name"  formControlName="surname" required>
      <!-- <mat-error *ngIf="createRegisterForm.get('surname')?.hasError('required')">Surname is required</mat-error> -->
    </mat-form-field>

    <mat-form-field  >
      <input matInput name="phoneNumber" placeholder="Phone number"  formControlName="phoneNumber" required>
      <mat-icon matSuffix>call</mat-icon>
    </mat-form-field>

    <mat-form-field  >
      <input matInput name="address" placeholder="Address" formControlName="address" required>
      <mat-icon matSuffix>import_contacts</mat-icon>
    </mat-form-field>

    <mat-form-field aclass="other-fields">
      <input matInput placeholder="Username"  name="username" formControlName="username" required>
      <!-- <mat-error *ngIf="createRegisterForm.get('username')?.hasError('required')">Email is required</mat-error>
      <mat-error *ngIf="createRegisterForm.get('username')?.hasError('pattern')">Invalid email format</mat-error> -->
      <mat-icon matSuffix>username</mat-icon>
    </mat-form-field>

    <mat-form-field aclass="other-fields">
      <input matInput placeholder="Email"  name="email" formControlName="email" required>
      <!-- <mat-error *ngIf="createRegisterForm.get('username')?.hasError('required')">Email is required</mat-error>
      <mat-error *ngIf="createRegisterForm.get('username')?.hasError('pattern')">Invalid email format</mat-error> -->
      <mat-icon matSuffix>edit_note</mat-icon>
    </mat-form-field>


  <mat-form-field class="other-fields">
      <mat-label>Enter your password</mat-label>
      <input matInput name="password" [type]="hide ? 'password' : 'text'" formControlName="password" required>
      <!-- <mat-error *ngIf="createRegisterForm.get('password')?.hasError('required')"  id="errorPassword">Password is required</mat-error> -->
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide.toString()">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field class="other-fields">
      <mat-label>Confirm your password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" formControlName="confirmPassword" name="confirmPassword" required>
      <!-- <mat-error data-error-type="password-error"  id="errorPassword" *ngIf="createRegisterForm.get('confirmPassword')?.hasError('required')">Confirm Password is required</mat-error>
      <mat-error *ngIf="createRegisterForm?.hasError('passwordMismatch')" #errorConfirmationPassword>Passwords do not match</mat-error>
       -->
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide.toString()">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
  </form>

    <div class="example-button-row">
      <button (click)="register()"  id="button" mat-raised-button color="primary" [disabled]="!createRegisterForm.valid">
        Register
        <mat-icon class="icon">how_to_reg</mat-icon>
      </button>
    </div>


<div *ngIf="createRegisterForm.hasError('passwordMismatch')" class="error-message">
Passwords do not match.
</div>

<div *ngIf="!isFormValid" class="error-message">
Input data are not valid!
</div>
</div>

