/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-image: url('app/assets/images/ThreeMaterial.jpg');
  background-size: contain
  ;
  background-position: center;
  background-repeat: repeat;
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-image: url('app/assets/images/ThreeMaterial.jpg');
  background-size: contain
  ;
  background-position: center;
  background-repeat: repeat;
}
body, input[type="text"], button {
  color: #333;
  font-family: Cambria, Georgia, serif;
}
