mat-toolbar {
  background-color: #89CFF0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding-right: 40px;
}

.toolbar-left {
  display: flex;
  align-items: center;
  margin-right: 50px;
}
.motivational-text {
  color: whitesmoke;
  font-size: 18px;
  font-weight: 400;
  /* font-family: 'Mooli', sans-serif; */
  /* font-weight: bold; */
}
.toolbar-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
}

.toolbar-right button {
  color: white;
  margin-right: 10px;
}
.toolbar-right button:hover {
  transform:scale(1.2)!important
}

mat-toolbar button:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}


mat-toolbar mat-icon {
  /* color: #F089A5; */
  color:	black;
}







