<div class="sidebar"  [@fadeInOut]>
  <ul>
    <li>
      <!-- <a routerLinkActive="active" (click)="toggleSubmenu()"> -->
        <!-- <span class="menu-icon material-icons">dashboard</span>
        <span class="menu-text">Dashboard</span>
        <span class="sub-menu-icon" [ngClass]="{ 'sub-menu-open': isSubmenuOpen }">
          <mat-icon>{{ isSubmenuOpen ? 'keyboard_arrow_down' : 'keyboard_arrow_right' }}</mat-icon>
        </span> -->
      <!-- </a> -->
      <!-- Sub-menu for Dashboard with left padding -->
      <!-- <ul *ngIf="isSubmenuOpen" class="sub-menu">
        <li><a routerLink="/dashboard" routerLinkActive="active"><span class="menu-icon material-icons">details</span><span class="menu-text">Details</span></a></li>
        <li><a routerLink="/dashboard/messages" routerLinkActive="active"><span class="menu-icon material-icons">message</span><span class="menu-text">Messages</span></a></li>
      </ul> -->
    </li>
    <li>
      <a routerLink="/home" routerLinkActive="active">
        <span class="menu-icon material-icons">home</span>
        <span class="menu-text">Home</span>
      </a>
    </li>
    <li>
      <a routerLink="/reminders" routerLinkActive="active">
        <span class="menu-icon material-icons">alarm</span>
        <span class="menu-text">Reminders</span>
      </a>
    </li>
    <li>
      <a routerLink="/edit-labels" routerLinkActive="active">
        <span class="menu-icon material-icons">label</span>
        <span class="menu-text">Edit labels</span>
      </a>
    </li>
    <li>
      <a routerLink="/archived" routerLinkActive="active">
        <span class="menu-icon material-icons">archive</span>
        <span class="menu-text">Archive</span>
      </a>
    </li>
    <li>
      <a routerLink="/trash" routerLinkActive="active">
        <span class="menu-icon material-icons">delete</span>
        <span class="menu-text">Trash</span>
      </a>
    </li>
    <li>
      <a routerLink="/login" routerLinkActive="active">
        <span class="menu-icon material-icons">login</span>
        <span class="menu-text">Log in</span>
      </a>
    </li>
    <li>
      <a routerLink="/register" routerLinkActive="active">
        <span class="menu-icon material-icons">how_to_reg</span>
        <span class="menu-text">Register</span>
      </a>
    </li>
  </ul>
</div>
