* {
  box-sizing: border-box;
  font-size: medium;
}
.button-container {
    margin: 10px;
}
.register-header {
  color: #007bff;
  font-size: 24px;
  margin-bottom: 3%;
  margin-top: 5%;
}

.selection-class{
  width:250px;
}

.slide-toggle-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left:600px;
  margin-top: 10px;
  gap: 10px;
  margin-bottom: 20px;
}
.error-message {
  color: red;
  margin-top: 15px;
}

.mainDiv{
  margin-left: 150px;
}
