.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    position: relative;
  }

  .example-full-width {
    width: 100%;
    max-width: 600px;
    display: flex;
    align-items: center;
    margin-top: 50px;
  }

  mat-form-field {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    height: 90px;
    font-weight: 300;
  }

  mat-form-field .mat-form-field-wrapper {
    flex: 1;
  }

  button.button-search {
    background-color: #2196F3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    position: relative;
    right: 0;

    top: 30%;
    margin-bottom: 15px;
    transform: translateY(-50%);
  }

  button.button-search:hover {
    background-color: #1976D2;
  }

  mat-icon {
    color: #2196F3;
  }
  .example-icon {
    padding: 0 14px;
  }
  .example-spacer {
    flex: 1 1 auto;
  }

  .home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .example-full-width {
    width: 100%;
    max-width: 600px;
    display: flex;
    align-items: center;
    margin-top: 20px;
  }

  mat-form-field {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    font-weight: 300;
  }

  mat-form-field .mat-form-field-wrapper {
    flex: 1;
  }

  mat-icon {
    color: #2196F3;
    position: relative;
    top:5px;
  }

  .search-text{
    margin-left: 40px;
    font-size: 25px;
    bottom: 15px;
    position: relative;
    font-weight: 300;
  }


  h1 {
    padding: 0 1rem;
}

h2 {padding: 1rem;}

.home-container {
  padding: 20px;
}

.mat-toolbar {
  position: fixed;
  width: calc(100% - 250px);
  z-index: 2;
}

.example-full-width {
  width: 100%;
  margin: 20px 0;
}

.search-text {
  width: 100%;
}

.button-search {
  margin-left: 2px;
}

.example-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 95%;
  max-width: 100%;
  gap: 15px;
  padding: 15px;
  border: solid 1px #ccc;
  min-height: 60px;
  border-radius: 4px;
  overflow: hidden;
  margin-left: 150px;
  font-weight: 300;
}



.example-listNotPinned {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 95%;
  max-width: 100%;
  gap: 15px;
  padding: 15px;
  border: solid 1px #ccc;
  min-height: 60px;
  border-radius: 4px;
  overflow: hidden;
  margin-top: 10px;
  margin-left: 150px;
  font-weight: 300;
}


.example-box {
  padding: 20px 10px;
  border: solid 1px #ccc;
  border-radius: px;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  cursor: move;
  background: white;
  text-align: center;
  font-size: 14px;
  min-width: 115px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  font-weight: 300;
  max-width: 400px;
  width: 300px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.example-box:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
p{
  color: black;
}
h1{
  color: #000;
}
.example-card {
  max-width: 400px;
  width: 300px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  font-weight: 300;
}

.example-header-image {
  background-image: url('../../assets/images/user.png');
  background-size: cover;
}


.note-icons{
  color: pink;
  margin-right: 10px;
}
.note-icons:hover{
  scale: 1.2;
  color:rgb(185, 8, 91);
}
.ikonice{
  margin-left: 40px;
}

.pinned-icon {
  color:rgb(185, 8, 91);
  font-size: 24px;
  position: absolute;
  top: 8px;
  right: 8px;

}

.example-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.heading3{
  margin-top: 30px;
  color:rgb(185, 8, 91) ;
  margin-right: 10px;
  font-style: italic;
  font-weight: 300;
}
