<!--
  <div class="home-container">
    <mat-form-field class="example-full-width" >
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="search"></mat-icon>
        <input type="search" matInput class="search-text"  (ngModelChange)="onSearchChange()" >
    </mat-form-field>
    <app-note></app-note>
  </div> -->
  <div class="home-container">
    <mat-form-field class="example-full-width">
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="search"></mat-icon>
      <input type="search" matInput class="search-text" [(ngModel)]="searchTerm" (ngModelChange)="onSearchChange($event)">
    </mat-form-field>
    <app-note></app-note>
    <!-- <div class="note-grid">
      <div *ngFor="let note of notes" class="note-card" cdkDrag>
        <mat-icon class="pinned-icon" [ngClass]="{'pinned': note.isPinned}">push_pin</mat-icon>
        <h2>{{ note.title }}</h2>
        <p>{{ note.content }}</p>
      </div>
    </div> -->
    <!-- <div cdkDropList cdkDropListOrientation="mixed" class="example-list" (cdkDropListDropped)="drop($event)">
      @for (item of items; track item) {
         <div class="example-box" cdkDrag>
          <h1>{{item.Title}}</h1>
          <p>{{item.Content}}</p>
        </div>
      }


    </div> -->
    <div cdkDropList cdkDropListOrientation="mixed" class="example-list" (cdkDropListDropped)="drop($event)">
      <div *ngFor="let item of items" cdkDrag class="example-box">
        <mat-card class="example-card" appearance="outlined">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{ item.Title }}</mat-card-title>
            <!-- <mat-card-subtitle>Note</mat-card-subtitle> -->
          </mat-card-header>
          <mat-card-content>
            <p>{{ item.Content }}</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>


  </div>

