<div class="home-container">
  <mat-form-field class="example-full-width">
    <mat-icon aria-hidden="false" aria-label="Search icon" fontIcon="search"></mat-icon>
    <input type="search" matInput class="search-text" [(ngModel)]="searchTerm" (ngModelChange)="onSearchChange($event)">
  </mat-form-field>
  <div cdkDropList cdkDropListOrientation="vertical" class="note-list" (cdkDropListDropped)="drop($event)">
    <div *ngFor="let item of items" cdkDrag class="note-item">
      <mat-card class="note-card" [ngStyle]="{'background-color': item.Color}">
        <mat-card-header>
          <mat-icon *ngIf="item.IsPinned" class="pinned-icon">push_pin</mat-icon>
          <mat-card-title>{{ item.Title }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>{{ item.Content }}</p>
          <div class="carousel-container">
            <div class="carousel-wrapper" [attr.data-item-id]="item.Id">
              <div class="carousel-slide" *ngFor="let image of item.Images">
                <img [src]="image" alt="Image" class="carousel-image"/>
              </div>
            </div>
            <button class="carousel-control prev" (click)="prevSlide(item,$event)">&#10094;</button>
            <button class="carousel-control next" (click)="nextSlide(item,$event)">&#10095;</button>
          </div>
        </mat-card-content>
        <div class="label-section">
          <div *ngFor="let label of item.Labels" class="label-item">
            <span class="label-name">{{label}}</span>
          </div>
        </div>
        <mat-card-footer class="note-footer">
          <span class="deleted-date" *ngIf="item.DeletedDate">Date deleted: {{ item.DeletedDate | date:'short' }}</span>
          <div class="note-icons">
          <mat-icon class="note-icon" (click)="deleteNote(item, $event)">delete</mat-icon>
          <mat-icon class="note-icon" *ngIf="item.DeletedDate" (click)="restore(item, $event)">restore_from_trash</mat-icon>
        </div>
        </mat-card-footer>
      </mat-card>
    </div>
  </div>
</div>
