<div class="home-container">
  <mat-form-field class="example-full-width">
    <mat-icon aria-hidden="false" aria-label="Search icon" fontIcon="search"></mat-icon>
    <input type="search" matInput class="search-text" [(ngModel)]="searchTerm" (ngModelChange)="onSearchChange($event)">
  </mat-form-field>

  <div cdkDropList cdkDropListOrientation="vertical" class="note-list" (cdkDropListDropped)="drop($event)">
    <div *ngFor="let item of items" cdkDrag class="note-item">
      <mat-card class="note-card">
        <mat-card-header>
          <mat-icon *ngIf="item.IsPinned" class="pinned-icon">push_pin</mat-icon>
          <mat-card-title>{{ item.Title }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>{{ item.Content }}</p>
        </mat-card-content>
        <mat-card-footer class="note-footer">
          <span class="deleted-date" *ngIf="item.DeletedDate">Date deleted: {{ item.DeletedDate | date:'short' }}</span>
          <mat-icon class="note-icon" *ngIf="item.DeletedDate" (click)="restore(item, $event)">restore_from_trash</mat-icon>
        </mat-card-footer>
      </mat-card>
    </div>
  </div>
</div>
