.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}



.login-header {
  color: #007bff; /* Blue color, you can change it */
  font-size: 28px;
  margin-bottom: 10px;
  justify-content: center;
  display: flex;

}

.login-form {
  width: 200px; /* Adjust the width as needed */
  margin-top: 30px;

}
.usernameField{
  width:250px;

}
.example-button-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px; /* Adjust the margin as needed */
}
/* ... postojeći stilovi ... */

.icon {
  margin-left: 3px; /* Prilagodite razmak između teksta i ikonice prema potrebi */
}

.example-container mat-form-field + mat-form-field {
  margin-left: 8px;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

.registration-section {
  display: flex;
  align-items: center;
  margin-top: 3%;
}


label {
  margin-right: 1%;
}
