.note-container {
  width: 500px;
  max-width: 600px;
  margin: 20px auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  position: relative;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}
.note-container:hover {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
  transform: scale(1.1);
}

.note-title {

  width: 90%;
  padding: 10px;
  font-size: 16px;
  font-weight: 300;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

.note-content {
  width: 90%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  min-height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-weight: 300;
}

button {
  display: block;
  width: 80%;
  padding: 10px;
  background-color:  #89CFF0;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 10%;
  margin-top: 3%;
  font-weight: 300;
}

button:hover {
  background-color:#009dff;
}

.pinned-icon {
  position: absolute;
  top: 12px;
  right: 13px;
  font-size: 24px;
  color:#F089A5;
  cursor: pointer;
}
