.note-container {
  width: 500px;
  max-width: 600px;
  margin: 20px auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  position: relative;
}

.note-title {
  width: 90%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

.note-content {
  width: 90%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  min-height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

button {
  display: block;
  width: 80%;
  padding: 10px;
  background-color:  #89CFF0;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 10%;
  margin-top: 3%;
}

button:hover {
  background-color:#009dff;
}

.pinned-icon {
  position: absolute;
  top: 12px;
  right: 13px;
  font-size: 24px;
  color:#F089A5;
  cursor: pointer;
}
